<script setup lang="ts">
import {
  mdiPhoneInTalk,
  mdiGmail,
  mdiFacebook,
  mdiInstagram,
  mdiGitlab,
} from "@mdi/js";
</script>
<template>
  <v-container>
    <div class="text-center">
      <v-avatar
        image="https://i.seadn.io/gae/cDLCOa2gDXmKrUFd3KV3Qy7qvUhEd3XmPH_qs4HzFFbcd8TOOSP5GxgoigXGwCdTS1iUM7BawBB_LdIBFB41YseBVVpIaAZQXNw67A?auto=format&w=1000"
        size="220"
      ></v-avatar>
    </div>
    <div>
      <h1 style="text-align: center">Kasama Jamnonglap</h1>
      <center><v-divider width="15%" /></center>
      <center><v-divider width="15%" /></center>
      <center><v-divider width="15%" /></center>
      <h2 style="text-align: center">กษมา จำนงค์ลาภ</h2>
    </div>
    <br />
    <v-row class="justify-center">
      <v-col cols="7">
        <v-table>
          <thead>
            <tr>
              <th>ประวัติส่วนตัว</th>
              <th>ประวัติการศึกษา</th>
              <th>สิ่งที่สนใจ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชื่อเล่น: กานต์</td>
              <td>อนุบาล: โรงเรียนวัดวชิรธรรมสาธิต (อนุบาล 1-3)</td>
              <td>วาดรูป</td>
            </tr>
            <tr>
              <td>เกิด: 14 กันยายน 2544</td>
              <td>ประถมศึกษา: โรงเรียนวัดวชิรธรรมสาธิต (ประถม 1-6)</td>
              <td>ฟังเพลง</td>
            </tr>
            <tr>
              <td>อายุ: 21 ปี</td>
              <td>มัธยมศึกษา: โรงเรียนวชิรธรรมสาธิต (มัธยม 1-6)</td>
              <td>เล่นเกม</td>
            </tr>
            <tr>
              <td>กรุ๊ปเลือด: B</td>
              <td>อุดมศึกษา: มหาวิทยาลัยบูรพา (ปัจจุบัน)</td>
              <td>ดูหนัง ซีรี่ย์</td>
            </tr>
            <tr>
              <td>ส่วนสูง: 163 cm.</td>
              <td></td>
              <td>คอมมิคซุปเปอร์ฮีโร่</td>
            </tr>
            <tr>
              <td>น้ำหนัก: 46 kg.</td>
              <td></td>
              <td>Java/Python/HTML/CSS/Vuetify</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <div>
      <br />
      <center><v-divider width="15%" /></center>
      <center><v-divider width="15%" /></center>
      <center><v-divider width="15%" /></center>
      <br />
      <h2 style="text-align: center">Contact Me</h2>
    </div>
    <br />
    <v-row class="justify-center" style="text-align: center">
      <v-col
        ><v-chip><v-icon :icon="mdiPhoneInTalk" /> 062-5476539 </v-chip></v-col
      >
      <v-col
        ><v-chip
          ><v-icon :icon="mdiGmail" /> 63160183@go.buu.ac.th</v-chip
        ></v-col
      >
      <v-col
        ><v-chip
          ><v-icon :icon="mdiFacebook" /> Kasama Jamnonglap</v-chip
        ></v-col
      >
      <v-col
        ><v-chip><v-icon :icon="mdiInstagram" /> k42n.____ </v-chip></v-col
      >
      <v-col
        ><v-chip><v-icon :icon="mdiGitlab" /> 63160183 </v-chip></v-col
      >
    </v-row>
  </v-container>
</template>
